
<h1 align="center">Notes</h1>
<div style="margin:50px;">
  <div class="container">
    <div style="margin-bottom:50px;">
      <div class="col-xs-11">
        <input type="text" class="form-control" name="note" placeholder="Note" #noteContent>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-success btn-md" (click)="addNote(noteContent)">Add</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table">
          <thead>
            <tr>
              <th>Content</th>
              <th>Create Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let note of noteList; let i = index">
              <td> {{note.content}}</td>
              <td> {{note.createDate}}</td>
              <td>
                <button class="btn btn-info btn-md" (click)="editNote(i)"> Edit </button>
              </td>
              <td>
                <button class="btn btn-danger btn-md" (click)="deleteNote(i)"> Delete </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>