<h1 align="center">
  Notes</h1>
<div style="margin:50px;">
  <div class="container">
    <div style="margin-bottom:50px;">
      <div class="col-xs-11">
        <input type="text" class="form-control" name="note" placeholder="Note" #noteContent>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-success btn-md" (click)="addNote(noteContent)">Add</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table">
          <thead>
            <div style="width:1000px;">
              <tr>
                <th>Content</th>
                <th>Create Date</th>
                <th class="btn-th"></th>
                <th class="btn-th"></th>
              </tr>
            </div>
          </thead>
          <tbody>
            <tr *ngFor="let note of noteList; let i = index">
              <div style="width:1000px;">
                <app-note [note]='note' (onDelete)="deleteNote(i)"></app-note>
              </div>

            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>